


body {
    box-sizing: border-box;
    
}


.box7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.box7Child {
    padding: 20px;
    margin: 20px;    
    
}


.box7Child1 {
    background: #4f4f4f;
}


.box7Child2 {
    background: blue;
}